@use '@/styles/media-query' as m;

.header {
  background-color: #f2f2f2;
  .name {
    color: #4B4B4B;
    font-weight: normal;
    text-align: center;
  }

  @include m.mq(sp) {
    padding: 0.5em 0;
    
    .name {
      font-size: 1.5rem;
      line-height: 1;
    }
  }
  
  @include m.mq(tabAndPc) {
    .header {
      padding: 1em 0;
    }
  }
}