@use '@/styles/media-query' as m;

.header {
  background-color: var(--background-color-offwhite);
  padding: 0.5em 0;
  
  @include m.mq(tabAndPc) {
    padding: 1em 0;
  }

  .name {
    color: var(--font-color-black);
    font-weight: normal;
    text-align: center;

    @include m.mq(sp) {
      font-size: 1.5rem;
      line-height: 1;
    }
  }
}

// style for scroll-to-top button component
.appear {
  opacity: 1;
  pointer-events: visible;
}