@use '@/styles/media-query' as m;

.header {
  left: 50%;
  padding: 0.5em 0;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  
  @include m.mq(tabAndPc) {
    padding: 1em 0;
  }

  .name {
    color: var(--font-color-black);
    font-weight: normal;
    text-align: center;

    @include m.mq(sp) {
      font-size: 1.5rem;
      line-height: 1;
    }
  }
}

.scrollToTopButton {
  align-items: center;
  background-color: var(--background-color-gold);
  bottom: 1%;
  color: var(--font-color-white);
  display: flex;
  font-size: 2.5rem;
  height: 45px;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 2%;
  transition: opacity var(--transition-speed);
  user-select: none;
  width: 45px;
  z-index: 99;
  
  @include m.mq(pc) {
    bottom: 2%;
  }

  .icon {
    font-size: 1.125rem;
  }
}

.scrollToTopButton.appear {
  opacity: 1;
  pointer-events: visible;
}