@use '@/styles/media-query' as m;

.header {
  left: 50%;
  padding: 0.5em 0;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  
  @include m.mq(tabAndPc) {
    padding: 1em 0;
  }

  .name {
    color: var(--font-color-black);
    font-weight: normal;
    text-align: center;

    @include m.mq(sp) {
      font-size: 1.5rem;
      line-height: 1;
    }
  }
}

// style for scroll-to-top button component
.appear {
  opacity: 1;
  pointer-events: visible;
}