@use '@/styles/media-query' as m;

.btn {
  background-color: var(--background-color-gold);
  display: block;
  max-width: 200px;
  padding: 0.75em 0;
  position: relative;
  text-align: center;
  transition: opacity var(--transition-speed);

  &:hover {
    @include m.mq(pc) {
      opacity: var(--opacity);
    }
  }

  .arrow {
    font-size: 0.75em;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);

    &.isReverse {
      left: 4%;
      right: 0;
    }
  }
}