/*================ common ================*/
.container {
  background-color: #403527;
}

.title {
  font-size: 2.5rem;
}

.informationContainer p {
  margin-top: 1.5em;
}

.name {
  font-size: 0.875rem;
  font-weight: normal;
}

.comment {
  background-color: #f2f2f2;
  color: #4b4b4b;
  padding: 1.5em;
}

.prerequisitesContainer {
  padding-bottom: 20%;
  .prerequisitesItem {
    padding-top: 1em;
    .category {
      border-bottom: solid 0.5px #ccc;
      display: flex;
      justify-content: space-between;
    }
    .badge {
      border: solid 0.5px #ccc;
      border-radius: 22px;
      color: #ccc;
      display: inline-block;
      font-size: 0.875rem;
      margin-top: 0.5em;
      padding: 0 1em;
      &:not(:last-of-type) {
        margin-right: 0.5em;
      }
    }
  }
}

/*============ SP layout only ============*/
@media screen and (max-width: 520px) {
  .container {
    padding: 5% 4% 25%;
  }

  .informationContainer {
    padding: 8% 0 20%;
  }

  :is(.domain, .name) {
    text-align: center;
  }

  :is(.summary, .comment) {
    font-size: 0.875rem;
  }

  .summary {
    padding: 0 4%;
  }
}

/*========= Tablet and PC layout =========*/
@media screen and (min-width: 521px) {
  .title {
    font-size: 4rem;
  }
}

/*========== Tablet layout only ==========*/
@media screen and (min-width: 521px) and (max-width: 926px) {
  .container {
    padding: 4% 4% 15%;
  }
  .informationContainer {
    padding: 4% 0 10%;
  }
  .prerequisitesContainer {
    padding-bottom: 10%;
  }
}

/*============ PC layout only ============*/
@media screen and (min-width: 927px) {
  .container {
    padding: 6% 4%;
  }
  .detailWrapper {
    display: flex;
    margin-top: 1.5em;
    gap: 4em;

    .informationContainer {
      flex: 1;
      padding: 0;

      .domain {
        font-size: 1.5rem;
      }
      .name {
        font-size: 1.125rem;
      }
    }
    .prerequisitesContainer {
      flex: 1;
      padding-bottom: 0;
    }
  }
}