@use 'media-query' as m;

.container {
  background-color: var(--background-color-brown);
  padding: 25% 4%;
  position: relative;

  @include m.mq(tab) {
    padding: 20% 4%;
  }
  @include m.mq(pc) {
    padding: 6% 4%;
  }
}

.img404 {
  margin: 0 auto;
}

.title {
  color: var(--font-color-brown);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;

  @include m.mq(sp) {
    font-size: 4.5rem;
    top: 22%;
  }
  @include m.mq(tabAndPc) {
    font-size: 6rem;
  }
  @include m.mq(tab) {
    top: 27%;
  }
  @include m.mq(pc) {
    top: 25%;
  }
}

.inner {
  padding: 3em 0 2em;
  position: relative;

  @include m.mq(tabAndPc) {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }
}

.textWrapper {
  position: absolute;

  @include m.mq(sp) {
    right: 3%;
    top: -60%;
  }
  @include m.mq(tabAndPc) {
    right: 10%;
    top: -90%;
  }
}

.subtitle {
  font-size: 2rem;
}

.leadtext {
  font-weight: normal;
  font-size: 1.25rem;
}

.text {
  text-align: center;
}