.container {
  background-color: #fff;
  color: #4B4B4B;
}

.mvContainer {
  background: url('/home-bg-brick.jpg') 0% 100% ;
  padding: 0 4% 13%;
  .mvInner {
    background-color: #fff;
    padding: 35% 2% 5%;
    .mvImages {
      margin-bottom: 30%;
      position: relative;
      .mv {
        margin: 0 auto;
      }
      .mvItem {
        bottom: 7%;
        height: auto;
        left: 26%;
        position: absolute;
        transform: rotate(4deg);
        width: 7%;
      }
    }
  }
}

.worksContainer {
  background: linear-gradient(260deg, #fdfbfb 0%, #ebedee 100%) fixed;
  padding: 10% 4% 30%;
  .title {
    font-size: 6rem;
  }
}
.worksItemContainer {
  h4 {
    width: fit-content;
  }
  .worksInfo {
    background-color: #403527;
    color: #fff;
    margin: -30px 10px 0px auto;
    padding: 0.75em 1.25em;
    position: relative;
    width: 70%;
    z-index: 1;
    dt {
      font-size: 1.25rem;
      font-weight: bold;
    }
    dd:last-of-type {
      font-size: 0.75rem;
      margin-top: 1.5em;
    }
  }
  &:not(:first-of-type) {
    margin-top: 15%;
  }
}

.aboutContainer {
  background: url('/home-bg-brick.jpg') 0% 100% ;
  padding: 0% 8% 15%;
  position: relative;
  &::before {
    content: '';
    background: url(/home-bg-arch-sp.png) left / 100% no-repeat;
    display: inline-block;
    height: 125px;
    left: 8%;
    position: absolute;
    top: -55px;
    width: 85%;
  }
  .aboutInner {
    background-color: #fff;
    border-radius: 70px 70px 0 0;
    padding: 20% 7%;
    .title {
      font-size: 3rem;
    }
    .personalInfo {
      .name {
        align-items: flex-end;
        display: flex;
        column-gap: 0.5em;
        margin-top: 1em;
        h4 {
          font-size: 1.25rem;
        }
        span {
          font-size: 0.75rem;
        }
      }
    }
    .description {
      margin-top: 2em;
      p + p {
        margin-top: 1em;
      }
    }
  }
}

/* ============ SP layout only ============ */
@media (max-width: 520px) {

}

/* ========= Tablet and PC layout ========= */
@media (min-width: 521px) {
  .worksContainer {
    .title {
      font-size: 12rem;
    }
  }
  .worksItemContainer {
    .worksInfo {
      margin: -30px 20px 0 auto;
    }
  }
  .aboutContainer {
    background: url('/home-bg-about.png') 0% 100% ;
    &::before {
      background: none
    }
    .aboutInner {
      margin: 0 auto;
      max-width: 980px;
      width: 80%;
      .title {
        font-size: 6rem;
      }
    }
  }
}

/* ========== Tablet layout only ========== */
@media (min-width: 521px) and (max-width: 1180px) {
  .mvContainer {
    .mvInner {
      padding: 20% 2% 5%;
      .mvImages {
        margin-bottom: 20%;
      }
    }
  }
  .aboutContainer {
    padding: 7% 10% 15%;
  }
}

/* ============ PC layout only ============ */
@media (min-width: 1181px) {
  .mvContainer {
    .mvInner {
      padding: 13% 2% 13%;
      position: relative;
      .mvImages {
        margin-bottom: 0;
        .mvItem {
          bottom: 7%;
          left: 34%;
          width: 4%;
        }
      }
      .topMediaList {
        bottom: 50px;
        flex-direction: column;
        position: absolute;
        right: 50px;
      }
    }
  }
  .worksContainer {
    padding: 4% 4% 20%;
  }
  .worksItemContainer {
    h4 {
      margin-left: 2em;
      position: relative;
      z-index: 1;
    }
    .worksInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: -225px 0 0 0;
      min-height: 28vh;
      padding: 3em 1.25em 3em 49em;
      width: 100%;
      z-index: 0;
      dt {
        font-size: 2rem;
      }
      dd:first-of-type {
        font-size: 1.25rem;
        flex: 1;
      }
      dd:last-of-type {
        font-size: 1rem;
      }
      a:hover {
        border: solid 1px #8b7353;
      }
    }
    &:not(:first-of-type) {
      margin-top: 6%;
    }
  }
  .aboutContainer {
    background: url(/home-bg-about.png) center / cover no-repeat;
    padding: 6% 0 0;
    margin-top: -100px;
    min-height: 130vh;
    .aboutInner {
      border-radius: 0;
      margin: 120px auto 0;
      padding: 0% 7% 10%;
      position: relative;
      z-index: 1;
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 200px;
        background-color: #fff;
        position: absolute;
        top: -100px;
        left: 0;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }
}