.container {
  background-color: #fff;
  color: #4B4B4B;
}

.mvContainer {
  background: url(/home-background-brick.png) left center / cover;
  padding: 13% 4%;
  .mvInner {
    background-color: #fff;
    padding: 35% 2% 5%;
    .mvImages {
      margin-bottom: 30%;
      position: relative;
      .mv {
        margin: 0 auto;
      }
      .mvItem {
        bottom: 7%;
        height: auto;
        left: 26%;
        position: absolute;
        transform: rotate(4deg);
        width: 7%;
      }
    }
  }
}

.worksContainer {
  background: linear-gradient(260deg, #fdfbfb 0%, #ebedee 100%) fixed;
  padding: 10% 4% 30%;
  .title {
    font-size: 6rem;
  }
}
.worksItemContainer {
  h4 {
    width: fit-content;
  }
  .worksInfo {
    background-color: #403527;
    color: #fff;
    margin: -30px 10px 0px auto;
    padding: 0.75em 1.25em;
    position: relative;
    width: 70%;
    z-index: 1;
    dt {
      font-size: 1.25rem;
      font-weight: bold;
    }
    dd:last-of-type {
      font-size: 0.75rem;
      margin-top: 1.5em;
    }
  }
  &:not(:first-of-type) {
    margin-top: 15%;
  }
}

.aboutContainer {
  background: url('/home-background-brick.png') top center / cover;
  padding: 10% 8% 20%;
  position: relative;
  .aboutInner {
    background-color: #fff;
    padding: 0% 7% 20%;
    margin: 100px auto 0;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 150px;
      background-color: #fff;
      position: absolute;
      top: -75px;
      left: 0;
      border-radius: 50%;
      z-index: -1;
    }
    .title {
      font-size: 3rem;
    }
    .personalInfo {
      .name {
        align-items: flex-end;
        display: flex;
        column-gap: 0.5em;
        margin-top: 1em;
        h4 {
          font-size: 1.25rem;
        }
        span {
          font-size: 0.75rem;
        }
      }
    }
    .description {
      margin-top: 2em;
      p + p {
        margin-top: 1em;
      }
    }
  }
}

/* ============ SP layout only ============ */
@media (max-width: 520px) {

}

/* ========= Tablet and PC layout ========= */
@media (min-width: 521px) {
  .worksContainer {
    .title {
      font-size: 12rem;
    }
  }
  .worksItemContainer {
    .worksInfo {
      margin: -30px 20px 0 auto;
    }
  }
  .aboutContainer {
    .aboutInner {
      max-width: 980px;
      width: 80%;
      &::before {
        height: 200px;
        top: -100px;
      }
      .title {
        font-size: 6rem;
      }
    }
  }
}

/* ========== Tablet layout only ========== */
@media (min-width: 521px) and (max-width: 1180px) {
  .mvContainer {
    padding: 75px 4% 125px;
    .mvInner {
      padding: 20% 2% 5%;
      .mvImages {
        margin-bottom: 20%;
      }
    }
  }
  .aboutContainer {
    padding: 10% 0% 13%;
    .aboutInner {
      padding: 0% 7% 10%;
      &::before {
        height: 200px;
        top: -100px;
      }
    }
  }
}

/* ============ PC layout only ============ */
@media (min-width: 1181px) {
  .mvContainer {
    padding: 75px 4% 200px;
    .mvInner {
      padding: 13% 2% 13%;
      position: relative;
      .mvImages {
        margin-bottom: 0;
        .mvItem {
          bottom: 7%;
          left: 34%;
          width: 4%;
        }
      }
      .topMediaList {
        bottom: 50px;
        flex-direction: column;
        position: absolute;
        right: 50px;
      }
    }
  }
  .worksContainer {
    padding: 4% 4% 12%;
  }
  .worksItemContainer {
    h4 {
      margin-left: 2em;
      position: relative;
      z-index: 1;
    }
    .worksInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: -225px 0 0 0;
      min-height: 28vh;
      padding: 3em 1.25em 3em 49em;
      width: 100%;
      z-index: 0;
      dt {
        font-size: 2rem;
      }
      dd:first-of-type {
        font-size: 1.25rem;
        flex: 1;
      }
      dd:last-of-type {
        font-size: 1rem;
      }
      a:hover {
        border: solid 1px #8b7353;
      }
    }
    &:not(:first-of-type) {
      margin-top: 6%;
    }
  }
  .aboutContainer {
    padding: 7% 0;
    .aboutInner {
      padding: 0% 4% 7%;
      &::before {
        height: 250px;
        top: -125px;
      }
    }
  }
}