@use 'media-query' as m;

.container {
  background-color: var(--background-color-brown);
}

.mainteinanceContainer {
  font-size: 1.5rem;
  padding: 3em 0;
  text-align: center;
}

.mainteinance {
  display: inline-block;
  margin: 0 0.5em;
  vertical-align: middle;
}

/*============ SP layout only ============*/
@media screen and (max-width: 520px) {
  .container {
    padding: 25% 4%;
  }
}

/*========== Tablet layout only ==========*/
@media screen and (min-width: 521px) and (max-width: 1180px) {
  .container {
    padding: 20% 4%;
  }
}

/*============ PC layout only ============*/
@media screen and (min-width: 1181px) {
  .container {
    padding: 6% 4%;
  }
}