@use 'media-query' as m;

.container {
  background-color: var(--background-color-brown);

  @include m.mq(sp) {
    padding: 25% 4%;
  }
  @include m.mq(tab) {
    padding: 20% 4%;
  }
  @include m.mq(pc) {
    padding: 6% 4%;
  }
}

.mainteinanceContainer {
  font-size: 1.5rem;
  padding: 3em 0;
  text-align: center;
}

.mainteinance {
  display: inline-block;
  margin: 0 0.5em;
  vertical-align: middle;
}