@use '@/styles/media-query' as m;

.wrapper {
  background-color: var(--background-color-offwhite);
  padding: 0 3% 30%;

  @include m.mq(tab) {
    padding: 0 3% 25%;
  }
  
  @include m.mq(pc) {
    padding: 0 3% 12%;
  }
}