.loaderWrapper {
  background-color: var(--font-color-brown);
  display: block;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.loaderContainer {
  margin-top: 40vh;
  text-align: center;
}

.loader {
  background: var(--background-color-white);
  border-radius: 15% 15% 35% 35%;
  display: inline-block;
  height: 40px;
  margin-top: 30px;
  position: relative;
  width: 48px;

  &::after {
    border: 4px solid var(--line-color-white);
    border-radius: 0 4px 4px 0;
    content: '';  
    height: 20px;
    left: 45px;
    position: absolute;
    top: 8px;
    width: 16px;
  }

  &::before {
    animation: animloader 1s ease infinite;
    color: var(--font-color-white);
    content: '';  
    height: 10px;
    left: 11px;
    position: absolute;
    top: -15px;
    width: 1px;
  }
}

@keyframes animloader {
  0% {
    box-shadow: 2px 0px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0.3), 20px 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 2px -5px rgba(255, 255, 255, 0.5), 12px -3px rgba(255, 255, 255, 0.5), 20px -2px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 2px -8px rgba(255, 255, 255, 0), 12px -5px rgba(255, 255, 255, 0), 20px -5px rgba(255, 255, 255, 0);
  }
}