.footer {
  background-color: var(--background-color-white);
  color: var(--font-color-black);
  text-align: center;
  padding-top: 5em;
  
  .copyright {
    display: inline-block;
    font-size: 0.5rem;
    margin-top: 15em;
  }
}